
body{
  font-size: 15vw;
    background-image: url("Menu.svg");
   background-repeat: no-repeat;
   background-size:125%;
  }

  ul{
    list-style-type: none;
    padding-left: 1vw;
  }
  a{
    text-decoration: none;
  }
ul li#torna_indietro{
  font-size: 14vw;
}
ul#cavalli{
  list-style-type: none;
  padding-left: 5vw;
  font-size: 12.5vw;
}
