h1{font-family:"Times New Roman";
font-size: 5vw;
text-align: center;
color: white;
line-height: 4vw;
}
h3{font-family: "Times New Roman";
font-size: 1.5vw;
text-align: center;
}
body{
		background-image: url("Titolo.svg");
   background-repeat: no-repeat;
	 background-size:100%;
	}
